/* code-here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

/* NavBar */
.container {
  background-color: #000000;
  height: 84px;
}

.logo {
  color: #fdfdfd;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 140px;
  padding-right: 140px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

nav a {
  color: #fdfdfd;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover {
  color: #a855f7;
}

button {
  border: none; /* 🔥 hilangkan garis */
  outline: none;
  background-color: #421abc;
  color: #ffffff;
  width: 160px;
  height: 44px;
  border-radius: 9999px;
  font-style: bold;
}

button:hover {
  opacity: 0.9;
}

/* Section-Hero */

.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.hero {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 10, 94, 1) 100%
  );
}

.hero-text {
  color: #fdfdfd;
  font-size: 56px;
}
.hero-text h2 span {
  font-style: italic;
}

article p {
  font-size: 20px;
  color: #717680;
}

.hero-image img {
  width: 590.64px;
  height: 755.31px;
}
